// Common
:root {
  --background-color: black;
  --text-color: white;
}

// Button
:root {
  --button-background-color: #343434;
  --button-text-color: #999999;
  --button-background-hover-color: #4a4a4a;
  --button-text-hover-color: #c3dbe2;
  --button-border-color: #343434;
  --button-border-hover-color: #4a4a4a;
}
