@import 'assets/fonts/fonts.scss';
@import 'colors';

html {
  font-size: 16px;
  height: 100%;
  font-family: 'Mulish';
}

body {
  height: 100%;
  box-sizing: border-box;
  margin: 0;
}
