**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/bin
**/obj
**/Dockerfile*
**/node_modules
/ClientApp/dist
/ClientApp/.angular
**/package-lock.json
/Release
**/*.bat
**/*.ps1
**/appsettings.Development.json
LICENSE
README.md